.card {
    user-select: none;
    cursor: pointer;
    text-align: center;
    transition: scale .12s;
}

.card > * {
    background-color: var(--card-bkg-color);
    width: 100%;
    border-radius: .4rem;
    transition: background .12s;
}

.card:hover{
    scale: 1.05;
}

.card:hover > * {
    background-color: #6B5F7C;
}

.card:active{
    scale: .95;
}

.card:active > * {
    background-color: #7A6F89;
}

.card div:first-child {
    margin-bottom: .5rem;
    height: 11rem;
    display: grid;
    place-items: center;
}

.card p {
    padding: .4rem 0;
}

.card img {
    width: 100%;
}